{% extends "base.html" %}
{% block content %}
        <article class="media content-section">
             <div class="media-body">
                 <div class="article-metadata">
                     <h1>Delete Post</h1>
                 </div>
                 <form action="" method="post">
                     {% csrf_token %}
                     <p>
                         Are you sure you want to delete the post "{{post.title}}" by "{{post.author}}"?
                     </p>
                     <input type="Submit" value="Confirm">
                 </form>
             </div>

        </article>
{% endblock content %}
